{% extends "default" %}

{% block content_wrapper %}
<ol class="breadcrumb">
    <li><a href="{{ site.url }}/gadgets">all gadgets</a></li>
    <li class="active">{{ page.title }}</li>
</ol>

<h1>Gadget: {{ page.title }}</h1>
<p>configuration key <span class="label label-info">{{ page.config_key }}</span></p>
<h2>Description</h2>
{% block content %}{% endblock %}
<h2>Configuration</h2>
<pre><code class="yml">{{ page.reference_config }}</code></pre>
{% endblock %}
