---

layout: default
title: SimpSpector Gadgets
active_menu: gadgets
use: [gadgets]

---

{% block content %}
<h1>Gadgets</h1>

<h2>Available Gadgets</h2>
{% for gadget in data.gadgets %}
<h3><a href="{{ gadget.url }}">{{ gadget.title }}</a></h3>
<p>
    <span class="label label-info">{{ gadget.config_key }}</span>
    {{ gadget.summary }}
</p>
{% endfor %}

<h2>Config Reference</h2>
<pre>
{% for gadget in data.gadgets %}
# gadget: {{ gadget.title }}
{{ gadget.reference_config }}

{% endfor %}
</pre>
{% endblock %}

